<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style>
        a {
            color: black;
        }

        nav {
            position: absolute;
            top: 5rem;
            left: 0;
            height: 100VW;
            background-color: #8FC1E3;
            width: 20rem;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SeaTurtle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav"></ul>
            </div>

            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
    <nav>
        <div>
            @Html.ActionLink("成員管理認證", "MemberList", "Members", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("訂單管理(x)", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div>
            @Html.ActionLink("活動管理", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("活動標籤(x)", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("活動留言(x)", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div>
            @Html.ActionLink("產品管理(x)", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("產品標籤", "ProductTagsList", "Tags", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("產品留言(x)", "ActivitiesList", "Activities", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div>

        </div>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>