@model IEnumerable<Backstage.tMemberList>

@{
    ViewBag.Title = "CommunityMember";
    int count = 0;
}

<h2 style="border-bottom:3px solid #31708E;width:10vw">社團成員</h2>

<p>
    @Html.ActionLink("新增成員", "Create", "CommunityMemberList",null,new { 
Class="btn btn-danger"
})
</p>
<table class="table table-hover">
    <thead class="thead-dark" style="background-color:#31708E;color:white;">
        <tr>
            <th>
                序
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fMemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fJoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fAccessRightId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <input hidden value="@item.fId" />
            <tr>
                <td>
                    @count
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tMember.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fJoinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tAccessRight.fName)
                </td>
                <td>

                    @Html.ActionLink("移除", "Delete","CommunityMemberList", new { id = item.fId }, new
               {
                   Class = "btn btn-danger"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
