@model IEnumerable<Backstage.Models.CommunityListDetail>

@{
    ViewBag.Title = "CommunityStatusEdit";
}

<h2>社團狀態修改</h2>


<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fInfo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fImgPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fStatusName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fInfo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fImgPath)
            </td>
            @if (item.fId == ViewBag.fId)
            {
                <td>
                    @Html.DropDownList("CommunityStatus_DDL", (IEnumerable<SelectListItem>)ViewBag.cCommunityStatus)
                </td>
                <td>
                    <input type="button" onclick="StatusCh()" value="送出" />
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.fStatusName)
                </td>
                <td>
                </td>
            }
        </tr>
    }

</table>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function StatusCh() {
        $.post('/Community/CommunityStatusEdit',
            { fcs: $("#CommunityStatus_DDL").val(), fId:@ViewBag.fId }
        )
        window.location.href = "/Community/CommunityList"
    }


</script>