@model PagedList.IPagedList<Backstage.Models.ActivityListDetail>

@{
    ViewBag.Title = "ActivitiyList";
}
@*<script src="~/Scripts/bundles/jqueryval"></script>
<script src="~/Scripts/chat/exporting.js"></script>
<script src="~/Scripts/chat/highcharts.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
<h2>活動清單</h2>
<style>
    td {
        padding:8px;
    }
</style>
@using (Html.BeginForm())
{
    <div id="container">
    </div>

    <script>
       

    </script>
    <div class="d-flex">
        <input class="" type="text" name="txtKeyword" />
        <input class="btn-primary" value="查詢" type="submit" />
        <span>排序:</span>
        <select id="Dropdownlist">
            <option>依ID順序</option>
            <option>依ID倒序</option>
            <option>最久日期</option>
            <option>最新日期</option>
            <option>人數限制(多到少)</option>
            <option>人數限制(少到多)</option>
        </select>

        <div>
            @Html.ActionLink("活動詳細列表", "active_list_detail", "Activity", null, new
            {

                Class = "btn btn-info"
            })
        </div>
    </div>
}

<table >

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fActName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fCreatDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fActivityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fMinLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fLabelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAttestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fStatusName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fActName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCreatDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fActivityDate)
            </td>
            @if (item.fMinLimit == null)
            {
                <td>無限制</td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.fMinLimit)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.fLabelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fAttestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fStatusName)
            </td>

            <td>
                @Html.ActionLink("狀態修改", "ActivityStatusEdit", "Activity", new { id = item.fId }, new
           {

               Class = "btn btn-info"
           })
                @Html.ActionLink("詳細修改", "ActivityDetailsEdit", "Activity", new { id = item.fId }, new
           {

               Class = "btn btn-info"
           })
                @Html.ActionLink("刪除", "ActivityDelete", "Activity", new { id = item.fId }, new
           {
               OnClick = "return confirm('確定要刪除嗎')",
               Class = "btn btn-danger"
           })

            </td>
        </tr>
    }

</table>
@Html.ActionLink("新增", "ActivityCreate", "Activity", null, new
{
    Class = "btn btn-danger"
})
@Html.PagedListPager(Model, page => Url.Action("ActivityList", new { page }))
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

    $("body").on("change", "#Dropdownlist", ch)

    function ch() {
        $.post('/Activity/ActivityList',
            { ch: $("#Dropdownlist option:selected").index() },
            (e) => {
                document.body.innerHTML = e;


            }
        )


    }
</script>