@model IEnumerable<Backstage.viewmodel.Join_member_list>

@{
    ViewBag.Title = "join_list_detail";
}

<h2>參與人清單</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fMemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fJoinTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fJoinTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fMemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fJoinTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fJoinTypeName)
        </td>
        <td>
            @Html.ActionLink("修改", "join_list_detail_edit", new { id=item.fId  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.fId */ }) |
            @Html.ActionLink("刪除", "join_list_detail_delete", new {  id=item.fId})
        </td>
    </tr>
}

</table>
