@model PagedList<Backstage.viewmodel.postDetailViewModel>


<style>

    .scrollTable {
        overflow: scroll;
    }
</style>
<h2 style="border-bottom:3px solid #31708E;width:10vw;margin-bottom:3rem">文章清單</h2>
@using (Html.BeginForm())
{
    <div>
        <input type="text" name="txtsearch" />
        <input type="submit" value="查詢" class="btn btn-primary" />
    </div>
    <p style="margin-top:2rem">
        @Html.ActionLink("新增貼文", "Create","Post",null,new {
       Class = "btn btn-danger"
   })

    </p>
}
@functions{
    public string getImageName(string path)
    {
        string result = "";
        if (path == null)
            return "暫無圖片";
        result = path.Split('/').Last();
        return result;
    }
}
<table class="table scrollTable table-hover">
    <thead class="thead-dark" style="background-color:#31708E;color:white;">
        <tr>
            <th style="font-size:large">
                @Html.DisplayNameFor(model => model.FirstOrDefault().fMember)
            </th>
            <th style="font-size:large">
                @Html.DisplayNameFor(model => model.FirstOrDefault().fCommunity)
            </th>
            <th style="font-size:large">
                @Html.DisplayNameFor(model => model.FirstOrDefault().fPostTime)
            </th>
            <th style="font-size:large">
                @Html.DisplayNameFor(model => model.FirstOrDefault().fContent)
            </th>
            <th style="font-size:large">
                @Html.DisplayNameFor(model => model.FirstOrDefault().fImgPaths)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fMember)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fCommunity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fPostTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fContent)
                </td>
                <td>
                    @getImageName(item.fImgPaths)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", "Post", new { id = item.fId }, new
               {

                   Class = "btn btn-info"
               })
                    @Html.ActionLink("查看回文", "replyList", "Post", new { id = item.fId }, new
               {

                   Class = "btn btn-info"
               })
                    @Html.ActionLink("刪除", "Delete", "Post", new { id = item.fId }, new
               {

                   Class = "btn btn-danger"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("List", new { page }))
<script>

</script>