@model IEnumerable<Backstage.Models.CommunityListDetail>

@{
    ViewBag.Title = "CommunityList";
}

<h2>CommunityList</h2>


<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fInfo)
        </th>
        <th>
    @Html.DisplayNameFor(model => model.fImgPath)
</th>
        <th>
            @Html.DisplayNameFor(model => model.fStatusName)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fInfo)
            </td>
            <td>
    @Html.DisplayFor(modelItem => item.fImgPath)
</td>
            <td>
                @Html.DisplayFor(modelItem => item.fStatusName)
            </td>
            
            <td>
                @Html.ActionLink("狀態修改", "CommunityStatusEdit", "Community", new { id=item.fId }, new
           {

               Class = "btn btn-info"
           }) 
                @Html.ActionLink("詳細修改", "CommunityDetailsEdit", "Community", new { id = item.fId }, new
           {

               Class = "btn btn-info"
           }) 

                @Html.ActionLink("刪除", "CommunityDelete", "Community", new { id = item.fId }, new
           {

               Class = "btn btn-danger"
           })
            </td>
        </tr>
    }
    @Html.ActionLink("新增", "Details", "Community") |
</table>
