@model IPagedList<Backstage.Models.MemberList>

@{
    ViewBag.Title = "成員列表";
}
<script src="~/Scripts/bundles/jqueryval"></script>
<script src="~/Scripts/chat/exporting.js"></script>
<script src="~/Scripts/chat/highcharts.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>



<h2>成員列表</h2>
@using (Html.BeginForm())
{
    <div id="containermem">
    </div>

    <script>
        $(document).ready(function () {
            $.getJSON("/Member/Highchatsyear", function (data) {
                Highcharts.chart('containermem', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Cycle-link Member'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [{
                            name: '10-20歲',
                            y: data.year1020
                        }, {
                            name: '21-30歲',
                            y: data.year2130
                        }, {
                            name: '31-40歲',
                            y: data.year3140
                        },{
                             name: '41-50歲',
                             y:data.year4150
                            }, {
                                name: '51歲',
                                y: data.year51
                            }]
                    }]
                });
            });
        });

    </script>
    <div class="form_container">
        <input class="" type="text" name="txtKeyword" />
        <input class="btn-primary" value="查詢" type="submit" />
        <select id="Dropdownlist">
            <option>依ID順序</option>
            <option>依ID倒序</option>
            <option>積分大到小</option>
            <option>積分小到大</option>
            <option>依照會員等級排序</option>
            <option>依照會員等級倒序</option>
        </select>
    </div>


}

<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fCoins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fPhotoPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAccountType)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCoins)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fPhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fAccountType)
            </td>
            <td>
                @Html.ActionLink("修改等級", "MemberTypeEdit", "Member", new { id = item.fId }, new
           {

               Class = "btn btn-info"
           })

                @Html.ActionLink("刪除", "MemberDelete", "Member", new { id = item.fId }, new
           {
               OnClick = "return confirm('確定要刪除嗎')",
               Class = "btn btn-danger"
           })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("新增", "MemberCreate", "Member", new { }, new
         {
           Class = "btn btn-danger"
         })
@Html.ActionLink("詳細資料", "MemberDetailsList", "Member", null, new
{
Class = "btn btn-info"
})

@Html.PagedListPager(Model, page => Url.Action("List", new { page }))
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

    $("body").on("change", "#Dropdownlist", ch)

    function ch() {
        $.post('/Member/List',
            { ch: $("#Dropdownlist option:selected").index() },
            (e) => {
                document.body.innerHTML = e;


            }
        )
        console.log($("#Dropdownlist option:selected").index())

    }



</script>