@model IEnumerable<Backstage.tActivityLabel>

@{
    ViewBag.Title = "TagList";
}

<h2>TagList</h2>

@using (Html.BeginForm())
{
    <input type="text" id="txtKeyword" name="txtKeyword" />

    <input type="submit" value="查詢"/>
}





<table class="table table-borderless">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fLabelName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fLabelName)
            </td>
            <td>
                @Html.ActionLink("修改", "TagEdit", "Tag", new { id = item.fId }, new
           {
               
               Class = "btn btn-info"
           }) 

                @Html.ActionLink("刪除", "TagDelete", "Tag", new { id = item.fId }, new
           {
               OnClick = "return confirm('確定要刪除嗎')",
               Class = "btn btn-danger"
           })
            </td>
        </tr>
    }
<tr>
    <td></td>
    <td>@Html.ActionLink("新增", "TagAdd", "Tag")</td>
</tr>

</table>
