@model PagedList.IPagedList<test1.Viewmodel.Memberlist>

@{
    ViewBag.Title = "list";
}
@{ 

    <link href="~/Content/PagedList.css" rel="stylesheet"/>
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().fAccountType)
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAccountType)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id = item.fId }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fId })
        </td>
    </tr>
}
    
</table>
@Html.PagedListPager(Model, page=>Url.Action("list",new { page}))