@model IEnumerable<Backstage.tMember>

@{
    ViewBag.Title = "MemberDetailsList";
}

<h2>MemberDetailsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fBirthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCeilphoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCoins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fIntroduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAccountTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPhotoPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fBirthdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCeilphoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fCoins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fIntroduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fAccountTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPhotoPath)
        </td>
        <td>
            @Html.ActionLink("修改", "MemberDetailEdit","Member", new {id= item.fId }, new
       {
           Class = "btn btn-danger"
       }) 
            
        </td>
    </tr>
}

</table>
