@model IEnumerable<backe.tProductTag>

@{
    ViewBag.Title = "ProductTagsEdit";
}

<h2>ProductTagsEdit</h2>

<form>
    <input type="hidden" id="fId" name="fId" value="@ViewBag.fId" />
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fId)
                </td>
                @if (item.fName == ViewBag.fName)
                {
                    <td><input type="text" id="fName" name="fName" value="@ViewBag.fName" /></td>
                    <td>
                        <input type="button" onclick="edit()" value="修改" />
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.fName)
                    </td>
                    <td></td>
                }

            </tr>
        }

    </table>
</form>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<script>

    function edit() {
        $.post('/Tags/ProductTagsEdit',
            {
                fId: @ViewBag.fId, fName: $("#fName").val()
            });

    }





</script>
