@model IEnumerable<Backstage.tMemberList>

@{
    ViewBag.Title = "list";
}

<h2>list</h2>

<p>
    @Html.ActionLink("Create New", "create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCommunityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fMemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fJoinDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fAccessRightId)
        </th>
        <th></th>
    </tr>
    @*Razer語法*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tCommunity.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tMember.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fJoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tAccessRight.fName)
            </td>
            <td>
                @*顯示名稱/action/parameter*@
                @Html.ActionLink("修改", "Edit", new { id = item.fId }) |
                @Html.ActionLink("刪除", "Delete", "CommunityMemberList", new { id = item.fId },
                new { OnClick = "return confirm('確定要刪除嗎')" })
            </td>
        </tr>
    }

</table>
